<section id="aboutDeveloper" class="about-developer py-6">
    <div class="container">
        <h2 class="section-title section-title--green">
            <span class="section-title__aplet">{{ company_title }}</span>
        </h2>
        <div class="row">
            <div class="col-md-4">
                <a href="https://exin.kz/" class="m-0 m-sm-4 pt-0 pb-5 px-5 p-sm-5 d-block">
                    <img 
                        src="https://cms.abpx.kz/{{ exin_logo.path }}" 
                        alt="{{ company_title}}" 
                        class="about-developer__logo w-100"
                    >
                </a>
                <div class="about-developer__desc">
                    {{ company_about|raw }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-developer__items about-developer-items">
                    {% for item in company_items %}
                        <div class="about-developer-items__item">
                            <span class="about-developer-items__title">
                                {{ item.name }}
                            </span>
                            {{ item.settings.text|raw }}
                        </div>
                    {% endfor %}
                </div>
                <div class="about-developer__desc">
                    {{ company_about_two|raw }}
                </div>
            </div>
            <div class="col-md-4">
                <img 
                    class="about-developer__image w-100"
                    src="https://cms.abpx.kz/{{ company_image.path }}" 
                    alt="{{ company_title}}"
                >
            </div>
        </div>
    </div>
</section>