<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site_title }}</title>
    <link rel="shortcut icon" href="https://cms.abpx.kz/{{ site_favicon.path }}" type="image/png">
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/main.css?v=5">

    {{ site_scripts_in_head|raw }}
  
  </head>
  <body>

    {{ site_scripts_in_body|raw }}
    {{ include('widgets/thanks_card.twig') }}

  </body>
  
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/fslightbox.js"></script>

  {{ site_scripts_in_footer|raw }}

</html>
